*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #091353;
    color: #FFBD35;
}
h1{
    text-align: center;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #8267BE;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.selections{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
    justify-content: space-between;
}
.selection:hover{
    transform: scale(1.2);
}
.results{
    display: grid;
    margin-top: 1rem;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}
.result-score{
    margin-left: .1rem;
    font-size: .8rem;
    color: #FF0000;
}
.result-selection{
    opacity: .5;
}
.result-selection.winner{
    opacity: 1;
    font-size: 1.5rem;
}
